[submodule "vs-shell-format"]
	path = vs-shell-format
	url = https://github.com/abdulrahman305/vs-shell-format.git
[submodule "openai-node"]
	path = openai-node
	url = https://github.com/abdulrahman305/openai-node.git
[submodule "graphql-engine"]
	path = graphql-engine
	url = https://github.com/abdulrahman305/graphql-engine.git
